.github
.git
.DS_Store
docs
kubernetes
node_modules
/.svelte-kit
/build
/package
.env
.env.*
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
__pycache__
**/__pycache__
.idea
venv
backend/.venv
backend/venv
_old
uploads
.ipynb_checkpoints
**/*.db
_test
backend/data/*
